.rescontainer {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 28px;
    margin-bottom: 15px;
}

.reslist {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.res {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}

.res:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}



.res img {
    max-width: 100%;
}

.addbutton {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.addbutton:hover {
    background-color: #0056b3;
}